Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.models, asyncapi.tests

Make optional fields in the HTTP binding nullable
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
Labels: asyncapi.models

Make optional fields in the Websockets binding nullable
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
Labels: asyncapi.models

Notes added by 'git notes add'
  4c98b022cbadf8decfff91d309196309ea72ac84
Labels: none

Notes added by 'git notes add'
  0d9f7a1b5aaa8c702ba0af5dc2e432c314a96834
Labels: none

Notes added by 'git notes add'
  cd2b4a3163bc6084a5bb40d914e2487938c07dca
Labels: none

fix!: rename to AsyncAPI.NET
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.readers, asyncapi.models

Notes added by 'git notes add'
  96cb30b746f69600d8a21cdd263acb5a1251761d
Labels: none

fix: main project package id
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.models

Notes added by 'git notes add'
  37ba8676eab24c35d2cdf8315381e96c60770221
Labels: none

docs: add nuget package links
  README.md
Labels: documentation

AsyncApiReference is already nullable
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
Labels: asyncapi.models, asyncapi.tests

TopicConfigurationObject is WriteOptional
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
Labels: asyncapi.models

IEnumerable is already nullable
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
Labels: asyncapi.models

RetentionDefinition is WriteOptional
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
Labels: asyncapi.models

String is already nullable, and we will be setting a default instead anyway
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
Labels: asyncapi.models

Add GetScalarValueOrDefault(string defaultValue)
  src/LEGO.AsyncAPI.Readers/ParseNodes/ParseNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
Labels: asyncapi.readers

Parse bindingVersion with a default of "latest" for all bindings
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiHttpBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiKafkaBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiWebSocketsBindingsDeserializer.cs
Labels: asyncapi.readers

Revert accidental bumping of target framework
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
Labels: asyncapi.tests

docs: fixed contribution markdown file
  .github/workflows/first-interaction.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, ci/cd

docs: fixed contribution markdown file (#90)
  .github/workflows/first-interaction.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, ci/cd

Create bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation, ci/cd

Create bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation, ci/cd

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation, ci/cd

Create pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation, ci/cd

Create question.md
  .github/ISSUE_TEMPLATE/question.md
Labels: documentation, ci/cd

Update pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation, ci/cd

Update pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation, ci/cd

docs: add a few issue templates and a PR template (#91)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation, ci/cd

docs: move template
  .github/pull_request_template.md
Labels: documentation, ci/cd

Delete .github/PULL_REQUEST_TEMPLATE directory
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation, ci/cd

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

docs: add code of conduct (#92)
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
Labels: documentation, ci/cd

Update pull_request_template.md
  .github/pull_request_template.md
Labels: documentation, ci/cd

add OrDefault versions of scalar value fetching
  src/LEGO.AsyncAPI.Readers/ParseNodes/ParseNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
Labels: asyncapi.readers

retract "Default" reading of binding version
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiHttpBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiKafkaBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiWebSocketsBindingsDeserializer.cs
Labels: asyncapi.readers

fix: payload schema reference resolution
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiComponents.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Services/AsyncApiReferenceResolver.cs
Labels: asyncapi.readers, asyncapi.models

Change usage of inline settings to use the ShouldInlineReference method
  src/LEGO.AsyncAPI/Models/AsyncApiBindings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiChannel.cs
  src/LEGO.AsyncAPI/Models/AsyncApiComponents.cs
  src/LEGO.AsyncAPI/Models/AsyncApiCorrelationId.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperationTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiParameter.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServerVariable.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.models, asyncapi.tests

Unobsolete
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
Labels: asyncapi.models

fix: payload schema reference resolution (#94)
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBindings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiChannel.cs
  src/LEGO.AsyncAPI/Models/AsyncApiComponents.cs
  src/LEGO.AsyncAPI/Models/AsyncApiCorrelationId.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperationTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiParameter.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServerVariable.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
  src/LEGO.AsyncAPI/Services/AsyncApiReferenceResolver.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

docs: add changelog to readme.md
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*
