Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.bindings, asyncapi.models, asyncapi.tests

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.bindings:
- src/LEGO.AsyncAPI.Bindings/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*

ci: force pre-releases
  .github/workflows/release-internal.yml
Labels: ci/cd

chore: update readme with pre-release shields
  README.md
Labels: documentation

feat: fix merge errors
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDeserializer.cs
Labels: asyncapi.readers

feat: fix bindings collection
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
Labels: asyncapi.bindings

feat: add object extensions
  src/LEGO.AsyncAPI.Bindings/Sqs/Identifier.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Policy.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Queue.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/RedrivePolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Statement.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
Labels: asyncapi.bindings, asyncapi.tests

fix: add setter to BindingParsers collection
  README.md
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
Labels: documentation, asyncapi.readers, asyncapi.bindings

refactor: updated StringOrStringList class
  src/LEGO.AsyncAPI.Bindings/Sqs/Statement.cs
  src/LEGO.AsyncAPI.Bindings/StringOrStringList.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ListNode.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
Labels: asyncapi.readers, asyncapi.bindings, asyncapi.tests

chore: updated exception message
  src/LEGO.AsyncAPI.Bindings/StringOrStringList.cs
Labels: asyncapi.bindings

feat(JsonSchema)!: changed out decimal for double to allow for bigger numbers
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

feat(JsonSchema)!: Type as flag rather than list
  src/LEGO.AsyncAPI.Readers/ParseNodes/AsyncApiAnyConverter.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaDeserializer.cs
  src/LEGO.AsyncAPI/EnumExtensions.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/SchemaType.cs
  src/LEGO.AsyncAPI/Validation/Rules/RuleHelpers.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

feat: Add missing doc string
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsOperationBinding.cs
Labels: asyncapi.bindings
