Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.models, asyncapi.tests

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*

Notes added by 'git notes add'
  5efb01dfebb3d10b5d806fe0e8f9a325a994405c
Labels: none

docs: add nuget badges to readme.md
  README.md
Labels: documentation

docs: update nuget packages to be links
  README.md
Labels: documentation

chore: add readme to the asyncapi package
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.readers, asyncapi.models

chore: add readme to the asyncapi package (#95)
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.readers, asyncapi.models

Bump AsyncApi version
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDocumentDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Put versions in quotes as they're strings per the spec
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiChannel_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiServer_Should.cs
Labels: asyncapi.tests

Add default null tests for Pulsar server bindings
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
Labels: asyncapi.tests

Add default value tests for Pulsar Bindings
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
Labels: asyncapi.tests

chore: add asyncapi-tool file
  .asyncapi-tool
Labels: none

Update README.md
  README.md
Labels: documentation

docs: add wiki to the readme
  README.md
Labels: documentation

Add validation rules
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/Resource.Designer.cs
  src/LEGO.AsyncAPI/Resource.resx
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiComponentsRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiContactRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiDocumentRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiExtensionRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiInfoRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiLicenseRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiServerRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/RuleHelpers.cs
Labels: asyncapi.models

remove security scheme None. it is not allowed
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Models/SecuritySchemeType.cs
Labels: asyncapi.models

add more validation rules
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiDocumentRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiExternalDocumentationRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiInfoRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiOAuthFlowRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiServerRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiTagRules.cs
Labels: asyncapi.models

add headers and initial test
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiComponentsRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiContactRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiDocumentRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiExtensionRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiExternalDocumentationRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiInfoRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiLicenseRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiOAuthFlowRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiServerRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiTagRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/RuleHelpers.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/Validation/ValidationRulesetTests.cs
Labels: asyncapi.models, asyncapi.tests

move correlationValidation to its own folder
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiCorrelationIdRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiTagRules.cs
Labels: asyncapi.models

refactor: move to YamlDotnet
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiWebSocketsBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Exceptions/AsyncApiReaderException.cs
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI.Readers/ParseNodes/JsonPointerExtensions.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ListNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/MapNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ParseNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/PropertyNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/RootNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiComponentsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaValidator.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiV2VersionService.cs
  src/LEGO.AsyncAPI.Readers/YamlHelper.cs
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/Models/Interfaces/IMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IServerBinding.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterAnyExtensions.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
  src/LEGO.AsyncAPI/schema-v2.3.0.json
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiLicenseTests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

refactor: move to YamlDotnet (#97)
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiWebSocketsBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Exceptions/AsyncApiReaderException.cs
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI.Readers/ParseNodes/JsonPointerExtensions.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ListNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/MapNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ParseNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/PropertyNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/RootNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiComponentsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaValidator.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiV2VersionService.cs
  src/LEGO.AsyncAPI.Readers/YamlHelper.cs
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/Models/Interfaces/IMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IServerBinding.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterAnyExtensions.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
  src/LEGO.AsyncAPI/schema-v2.3.0.json
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiLicenseTests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Update release-internal.yml
  .github/workflows/release-internal.yml
Labels: ci/cd

Update release-internal.yml
  .github/workflows/release-internal.yml
Labels: ci/cd

Remove "Nullable" from csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.models

Remove ? from types that are already nullable
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/TopicConfigurationObject.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
Labels: asyncapi.models

docs: update YamlDotNet attribution
  README.md
Labels: documentation

feat!: add basic [REQUIRED] validation rules (#96)
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Models/SecuritySchemeType.cs
  src/LEGO.AsyncAPI/Resource.Designer.cs
  src/LEGO.AsyncAPI/Resource.resx
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiComponentsRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiContactRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiCorrelationIdRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiDocumentRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiExtensionRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiExternalDocumentationRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiInfoRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiLicenseRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiOAuthFlowRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiServerRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/AsyncApiTagRules.cs
  src/LEGO.AsyncAPI/Validation/Rules/RuleHelpers.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Validation/ValidationRulesetTests.cs
Labels: asyncapi.models, asyncapi.tests

Notes added by 'git notes add'
  2f9da12fcf537174f962a3ccbc6042bb81cd4980
Labels: none

docs: fix link
  README.md
Labels: documentation

docs: update changelog to better reflect changes
  CHANGELOG.md
Labels: documentation

Update LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
Labels: asyncapi.readers

Update LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.models

ci: fix README.md reference
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.readers, asyncapi.models

Revert "Put versions in quotes as they're strings per the spec"
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiChannel_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiServer_Should.cs
Labels: asyncapi.tests

Since Persistence is an Enum it has to be explicitly nullable or it defaults to the first variant
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
Labels: asyncapi.models

Use a shared reference to the binding in the test, rather than finding it each time
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
Labels: asyncapi.tests

fix: make optional properties of bindings nullable (#89)
  src/LEGO.AsyncAPI.Readers/ParseNodes/ParseNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/TopicConfigurationObject.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Notes added by 'git notes add'
  499cf64a54fda10a7fc6f870d406e11b142faff4
Labels: none

fix: fixed typo in AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
Labels: asyncapi.models

fix: fixed typo in AsyncApiConstants.cs (#101)
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
Labels: asyncapi.models

Notes added by 'git notes add'
  146ee71082fb0eab4fc4231f3564bc8f7b73d779
Labels: none

Update .asyncapi-tool
  .asyncapi-tool
Labels: none
