Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.models, asyncapi.tests

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*

chore: updated `.asyncapi-tool` file (#103)
  .asyncapi-tool
Labels: none

Add ability to throw AsyncApiExceptions during parsing, to hook into diagnostics
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaDeserializer.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
Labels: asyncapi.readers, asyncapi.tests

chore: add ability to throw AsyncApiExceptions during extension parsing (#105)
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaDeserializer.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
Labels: asyncapi.readers, asyncapi.tests

work so far
  src/LEGO.AsyncAPI.Readers/ParseNodes/PropertyNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
Labels: asyncapi.readers, asyncapi.models

this works
  src/LEGO.AsyncAPI.Bindings/ChannelBinding.cs
  src/LEGO.AsyncAPI.Readers/BindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Interface/IBindingParser1.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDeserializer.cs
Labels: asyncapi.readers

PulsarBindings done
  AsyncAPI.sln
  src/LEGO.AsyncAPI.Bindings/ChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/ChannelBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/MessageBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/OperationBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI.Bindings/ServerBinding{T}.cs
  src/LEGO.AsyncAPI.Readers/BindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Interface/IBindingParser1.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/PatternFieldMap.cs
  src/LEGO.AsyncAPI/Bindings/Binding.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/CustomBinding_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
  test/LEGO.AsyncAPI.Tests/stylecop.json
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

test serialize deserializ
  test/LEGO.AsyncAPI.Tests/Bindings/CustomBinding_Should.cs
Labels: asyncapi.tests

move bindings
  src/LEGO.AsyncAPI.Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI.Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/TopicConfigurationObject.cs
  src/LEGO.AsyncAPI.Bindings/WebSockets/WebSocketsChannelBinding.cs
Labels: none

finish refactoring deserializers
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiOperationBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiServerBindingDeserializer.cs
Labels: asyncapi.readers

Bindings work again
  src/LEGO.AsyncAPI.Bindings/Binding.cs
  src/LEGO.AsyncAPI.Bindings/ChannelBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/MessageBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/OperationBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/ServerBinding{T}.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/BindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Interface/IBindingParser1.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Bindings/Kafka/TopicConfigurationObject.cs
  src/LEGO.AsyncAPI/Bindings/WebSockets/WebSocketsChannelBinding.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

current state
  src/LEGO.AsyncAPI.Bindings/Binding.cs
  src/LEGO.AsyncAPI.Bindings/ChannelBinding{T}.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/BindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Interface/IBindingParser1.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiOperationBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiServerBindingDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBinding.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBindings.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/CustomBinding_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

feat: WIP Add sns channel bindings
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiSnsBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/Bindings/BindingType.cs
  src/LEGO.AsyncAPI/Models/Bindings/Sns/OrderingConfiguration.cs
  src/LEGO.AsyncAPI/Models/Bindings/Sns/Policy.cs
  src/LEGO.AsyncAPI/Models/Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Sns/Statement.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterExtensions.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

minor fixings
  src/LEGO.AsyncAPI.Bindings/MessageBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/OperationBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/ServerBinding{T}.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiComponentsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiServerBindingDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBinding.cs
  src/LEGO.AsyncAPI/Models/AsyncApiComponents.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentBuilder.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

reference resolver stuff
  src/LEGO.AsyncAPI/Services/AsyncApiReferenceResolver.cs
  src/LEGO.AsyncAPI/Services/AsyncApiWalker.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentBuilder.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
Labels: asyncapi.models, asyncapi.tests

Apply suggestions from code review
  src/LEGO.AsyncAPI.Bindings/ChannelBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/MessageBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/OperationBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/ServerBinding{T}.cs
  src/LEGO.AsyncAPI.Bindings/WebSockets/WebSocketsChannelBinding.cs
  src/LEGO.AsyncAPI.Readers/Interface/IBindingParser1.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/FixedFieldMap.cs
  src/LEGO.AsyncAPI/Models/ReferenceType.cs
Labels: asyncapi.readers, asyncapi.models

Update release-internal.yml
  .github/workflows/release-internal.yml
Labels: ci/cd

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

fix usings
  src/LEGO.AsyncAPI.Bindings/Binding.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Services/AsyncApiReferenceResolver.cs
  src/LEGO.AsyncAPI/Writers/StringExtensions.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/CustomBinding_Should.cs
Labels: asyncapi.models, asyncapi.tests

chore: add readme.md to bindings pack
  src/LEGO.AsyncAPI.Bindings/LEGO.AsyncAPI.Bindings.csproj
Labels: none

feat: WIP fix file overwrite
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
Labels: none

feat: WIP further attempts at serde
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.models, asyncapi.tests

feat: WIP fix typo
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
Labels: none

feat: WIP more node work
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Bindings/Sns/OrderingConfiguration.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Policy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ListNode.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.readers, asyncapi.tests

feat: WIP switch to display enum
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
Labels: none

feat: WIP fixed lists
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ListNode.cs
Labels: asyncapi.readers

feat: WIP fix write issues
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
Labels: none

feat: WIP remove commented function
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterExtensions.cs
Labels: asyncapi.models

feat: WIP Complete SNS body
  src/LEGO.AsyncAPI.Bindings/Sns/OrderingConfiguration.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.tests

feat: WIP finish SNS channel binding
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.tests

feat: WIP Add basic SNS operation serialization
  src/LEGO.AsyncAPI.Bindings/Sns/Consumer.cs
  src/LEGO.AsyncAPI.Bindings/Sns/DeliveryPolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/FilterPolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Identifier.cs
  src/LEGO.AsyncAPI.Bindings/Sns/RedrivePolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.tests

refactor: binding improvement
  src/LEGO.AsyncAPI.Bindings/Binding.cs
  src/LEGO.AsyncAPI.Bindings/BindingHelpers.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Pulsar/PulsarChannelBinding.cs
Labels: none

feat: WIP Add sns op fix fields
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsOperationBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.tests

feat: WIP Add correct required properties
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
Labels: none

feat: WIP remove constants
  src/LEGO.AsyncAPI.Bindings/Sns/Policy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
Labels: asyncapi.models

feat: WIP move to block scoped namespaces
  src/LEGO.AsyncAPI.Bindings/Sns/Consumer.cs
  src/LEGO.AsyncAPI.Bindings/Sns/DeliveryPolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/FilterPolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Identifier.cs
  src/LEGO.AsyncAPI.Bindings/Sns/OrderingConfiguration.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Policy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/RedrivePolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sns/Statement.cs
Labels: none

fix: update AsyncApiTextReader class name
  src/LEGO.AsyncAPI.Readers/AsyncApiStreamReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiStringReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
Labels: asyncapi.readers

ci: pull_request_target
  .github/workflows/ci.yml
Labels: ci/cd

ci: remove pull_request_target from normal build
  .github/workflows/ci.yml
Labels: ci/cd

Create ci-fork.yml
  .github/workflows/ci-fork.yml
Labels: ci/cd

Update ci-fork.yml
  .github/workflows/ci-fork.yml
Labels: ci/cd
