Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.models, asyncapi.tests

ci: add build and test run for forks (#110)
  .github/workflows/ci-fork.yml
Labels: ci/cd

Update AsyncApiVersion.cs
  src/LEGO.AsyncAPI/AsyncApiVersion.cs
Labels: asyncapi.models

ci: delete new workflow
  .github/workflows/ci-fork.yml
Labels: ci/cd

fix: update AsyncApiTextReader class name (#109)
  src/LEGO.AsyncAPI.Readers/AsyncApiStreamReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiStringReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
Labels: asyncapi.readers

feat: Add SQS channel binding
  src/LEGO.AsyncAPI.Bindings/Sqs/Identifier.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Policy.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Queue.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/RedrivePolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Statement.cs
Labels: none

feat: create Channel binding reader and tests
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Queue.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
Labels: asyncapi.tests

feat: try adding queue extension
  src/LEGO.AsyncAPI.Bindings/Sqs/Queue.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
Labels: asyncapi.tests

feat: remove redundant interface
  src/LEGO.AsyncAPI.Bindings/Sqs/Queue.cs
Labels: none

feat: fix identifier fixed fields bug
  src/LEGO.AsyncAPI.Bindings/Sns/SnsOperationBinding.cs
Labels: none

feat: correct type property to be required
  src/LEGO.AsyncAPI.Bindings/Sns/OrderingConfiguration.cs
Labels: none

feat: rename ordering to match spec
  src/LEGO.AsyncAPI.Bindings/Sns/Ordering.cs
  src/LEGO.AsyncAPI.Bindings/Sns/SnsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
Labels: asyncapi.tests

feat: remove extensions
  src/LEGO.AsyncAPI.Bindings/Sqs/Queue.cs
Labels: none

feat: test extension on SQS channel binding
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
Labels: asyncapi.tests

feat: add SQS operation binding file
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsOperationBinding.cs
Labels: none

feat: add operation binding
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Statement.cs
  src/LEGO.AsyncAPI.Bindings/StringOrStringList.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
Labels: asyncapi.tests

feat: clean styling
  src/LEGO.AsyncAPI.Bindings/Sqs/Identifier.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Policy.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Queue.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/RedrivePolicy.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/SqsOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/Sqs/Statement.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
Labels: asyncapi.tests

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*
