Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.models, asyncapi.tests

update test to match new securityrequirement serialization
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiServer_Should.cs
Labels: asyncapi.tests

remove placeholder company
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/StringExtensions.cs
Labels: asyncapi.tests

fix: change payload 'any' type to 'schema' to match specification. (#77)
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiStreamReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiStringReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiKafkaBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDocumentDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiV2VersionService.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBindings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/AsyncApiCorrelationId.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiInfo.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiReference.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityRequirement.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/TopicConfigurationObject.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterAnyExtensions.cs
  src/LEGO.AsyncAPI/Writers/WriterConstants.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentBuilder.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Http/HttpBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Kafka/KafkaBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/WebSockets/WebSocketBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiServer_Should.cs
  test/LEGO.AsyncAPI.Tests/StringExtensions.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Notes added by 'git notes add'
  3a7b96ad3c8d58462e13b4c0d161ecb81455e132
Labels: none

[create-pull-request] automated change
  CHANGELOG.md
Labels: documentation

chore: update readme
  README.md
Labels: documentation

fix schemaformat
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/SchemaFormat.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

use correct exception which are handled
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiOperationBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiServerBindingDeserializer.cs
Labels: asyncapi.readers

missed channel binding
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelBindingDeserializer.cs
Labels: asyncapi.readers

reader fixes
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/SchemaFormat.cs
  src/LEGO.AsyncAPI/Writers/StringExtensions.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

fix(readers): throw asyncapiexception, as this is handled by the main reader. (#80)
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiOperationBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiServerBindingDeserializer.cs
Labels: asyncapi.readers

Notes added by 'git notes add'
  ef428b1df7df80daf20772765345588827998b01
Labels: none

[create-pull-request] automated change
  CHANGELOG.md
Labels: documentation

remove tests that arent needed
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
Labels: asyncapi.tests

Force specific formats for reading.
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.tests

fix(readers): set fixed payload schemaformats to json schema types (#84)
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.tests

Notes added by 'git notes add'
  0f46359663d242d1ba0ec09378a355f4e38de4c4
Labels: none

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

chore: remove unneeded tests (#83)
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
Labels: asyncapi.tests

fix tests
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/Persistence.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

feat(bindings): add pulsar bindings (#74)
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiServerBindingDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/Bindings/BindingType.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/Persistence.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/RetentionDefinition.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Create CODEOWNERS
  CODEOWNERS
Labels: none

chore: release-internal, until open-source
  .github/workflows/release-internal.yml
Labels: ci/cd

chore: rename internal release workflow name
  .github/workflows/release-internal.yml
Labels: ci/cd

Update ci.yml
  .github/workflows/ci.yml
Labels: ci/cd

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

Notes added by 'git notes add'
  83fb9abb16b9e9c29681f0434ea75a68ed4732a4
Labels: none

Notes added by 'git notes add'
  bd0846f2b98f2c1ad675c14a6989ea213e87874e
Labels: none

Notes added by 'git notes add'
  5e11dac95b633c7ec78fb88e6ab05d1aafb7a95d
Labels: none

Notes added by 'git notes add'
  c01ade395ceed7ca93e4bae3c1c6a774ce9e09a3
Labels: none

Notes added by 'git notes add'
  e8f04c49872d5a7acd9ba4d922d3b40f2381afae
Labels: none

Notes added by 'git notes add'
  2415edf3b728f6b6675201c69026bc6cbc16fbae
Labels: none

Notes added by 'git notes add'
  aeddec2773d2aaeb8ce014a29fccda35e5d681aa
Labels: none

ci: nuget publishing
  .github/workflows/ci.yml
  .github/workflows/release-internal.yml
  .github/workflows/release-package.yml
  CHANGELOG.md
  CODEOWNERS
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: documentation, ci/cd, asyncapi.readers, asyncapi.models

Make optional fields in the Pulsar binding nullable
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
Labels: asyncapi.models

Notes added by 'git notes add'
  7ddecb819be20f840b61393f9e8fc04123fadf09
Labels: none

feat: upgrade to 2.6.0
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDocumentDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

feat: upgrade to 2.6.0 (#88)
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDocumentDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Make optional field in the Kafka binding nullable
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/TopicConfigurationObject.cs
Labels: asyncapi.models

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*
