Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.models, asyncapi.tests

Update do_not_merge.yml
  .github/workflows/do_not_merge.yml
Labels: ci/cd

Update do_not_merge.yml
  .github/workflows/do_not_merge.yml
Labels: ci/cd

license from LEGO oss projects
  LICENSE
Labels: none

update license url
  README.md
Labels: documentation

center heart
  docs/lego-async-mark.drawio.png
Labels: none

Change to Optional for consistency
  src/LEGO.AsyncAPI/Models/AsyncApiChannel.cs
  src/LEGO.AsyncAPI/Models/AsyncApiContact.cs
  src/LEGO.AsyncAPI/Models/AsyncApiCorrelationId.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiExternalDocumentation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiInfo.cs
  src/LEGO.AsyncAPI/Models/AsyncApiLicense.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageExample.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOAuthFlow.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperationTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiParameter.cs
  src/LEGO.AsyncAPI/Models/AsyncApiReference.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServerVariable.cs
  src/LEGO.AsyncAPI/Models/AsyncApiTag.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Writers/OpenApiWriterExtensions.cs
Labels: asyncapi.models

refactor(WriterExtensions): change to optional for consistency (#68)
  src/LEGO.AsyncAPI/Models/AsyncApiChannel.cs
  src/LEGO.AsyncAPI/Models/AsyncApiContact.cs
  src/LEGO.AsyncAPI/Models/AsyncApiCorrelationId.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiExternalDocumentation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiInfo.cs
  src/LEGO.AsyncAPI/Models/AsyncApiLicense.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageExample.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOAuthFlow.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperationTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiParameter.cs
  src/LEGO.AsyncAPI/Models/AsyncApiReference.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServerVariable.cs
  src/LEGO.AsyncAPI/Models/AsyncApiTag.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Writers/OpenApiWriterExtensions.cs
Labels: asyncapi.models

Add websockets binding
  src/LEGO.AsyncAPI.Readers/AsyncApiBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiWebSocketsBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/BindingType.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiChannel_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Remove pulsar binding
  src/LEGO.AsyncAPI.Readers/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiServerBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/BindingType.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/RetentionDefinition.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

minor fixes
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
Labels: asyncapi.models

feat(bindings): add websockets binding (#69)
  src/LEGO.AsyncAPI.Readers/AsyncApiBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiWebSocketsBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/BindingType.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiChannel_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Notes added by 'git notes add'
  827f82424679fef4be3547d3981427a333841d34
Labels: none

[create-pull-request] automated change
  CHANGELOG.md
Labels: documentation

fix(bindings): remove pulsar binding (#70)
  src/LEGO.AsyncAPI.Readers/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiServerBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/BindingType.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/RetentionDefinition.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

Notes added by 'git notes add'
  fd873d049b8fa25adf67fb65bdba1e3b3882d3e7
Labels: none

Revert "fix(bindings): remove pulsar binding (#70)"
  src/LEGO.AsyncAPI.Readers/AsyncApiChannelBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiServerBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/BindingType.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/RetentionDefinition.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

docs: update readme and contribution guide (#61)
  CONTRIBUTION.md
  LICENSE
  README.md
  docs/README.md
  docs/lego-async-mark.drawio.png
  docs/lego-asyncapi.drawio.png
Labels: documentation

Pulsar updated
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
Labels: asyncapi.readers, asyncapi.models

fix consistency
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterExtensions.cs
Labels: asyncapi.models

fix bindings and optional/required usage
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterExtensions.cs
Labels: asyncapi.models

fix(writerextensions): consistency (#72)
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterExtensions.cs
Labels: asyncapi.models

Notes added by 'git notes add'
  e86cf203ac464fb7dc58184c253048f2814696be
Labels: none

[create-pull-request] automated change
  CHANGELOG.md
Labels: documentation

chore: fix contribution text slightly
  CONTRIBUTION.md
Labels: documentation

pulsar bindings
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiPulsarBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/RetentionDefinition.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

fix minor binding issues
  src/LEGO.AsyncAPI.Readers/AsyncApiChannelDeserializer.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
Labels: asyncapi.readers, asyncapi.models

refactor version out of write
  .editorconfig
  AsyncAPI.sln
  src/LEGO.AsyncAPI.Readers/AsyncApiDeserializer.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncAPIArray.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncAPINull.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncAPIObject.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncApiPrimitive{T}.cs
  src/LEGO.AsyncAPI/Models/AsyncApiChannel.cs
  src/LEGO.AsyncAPI/Models/AsyncApiComponents.cs
  src/LEGO.AsyncAPI/Models/AsyncApiContact.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiExternalDocumentation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiInfo.cs
  src/LEGO.AsyncAPI/Models/AsyncApiLicense.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageExample.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOAuthFlow.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOAuthFlows.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperationTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiParameter.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiTag.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IAsyncApiExtension.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterAnyExtensions.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

missing write
  src/LEGO.AsyncAPI/Models/AsyncApiServerVariable.cs
Labels: asyncapi.models

refactor: removed version from write logic as it was not needed. (#75)
  .editorconfig
  AsyncAPI.sln
  src/LEGO.AsyncAPI.Readers/AsyncApiDeserializer.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncAPIArray.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncAPINull.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncAPIObject.cs
  src/LEGO.AsyncAPI/Models/Any/AsyncApiPrimitive{T}.cs
  src/LEGO.AsyncAPI/Models/AsyncApiChannel.cs
  src/LEGO.AsyncAPI/Models/AsyncApiComponents.cs
  src/LEGO.AsyncAPI/Models/AsyncApiContact.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiExternalDocumentation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiInfo.cs
  src/LEGO.AsyncAPI/Models/AsyncApiLicense.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageExample.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOAuthFlow.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOAuthFlows.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperation.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperationTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiParameter.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServerVariable.cs
  src/LEGO.AsyncAPI/Models/AsyncApiTag.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IAsyncApiExtension.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterAnyExtensions.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

misses and fixes
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDocumentDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiServer_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

more misses
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
Labels: asyncapi.tests

Notes added by 'git notes add'
  cbf325392b4b1fb726f72e6d2439f050b7138ef5
Labels: none

test refactorings
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiV2VersionService.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Http/HttpBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Kafka/KafkaBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.tests

[create-pull-request] automated change
  CHANGELOG.md
Labels: documentation

fix kafka tests and kafka binding
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiKafkaBindingsDeserializer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiConstants.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/TopicConfigurationObject.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Kafka/KafkaBindings_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

fix missing loader
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiV2VersionService.cs
Labels: asyncapi.readers

add message serialization unit test
  src/LEGO.AsyncAPI/Models/AsyncApiCorrelationId.cs
  test/LEGO.AsyncAPI.Tests/Bindings/WebSockets/WebSocketBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.models, asyncapi.tests

fix using statement order
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.tests

fix fullspec test
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
Labels: asyncapi.tests

fixes and tests
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiStreamReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiStringReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiDocumentDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiV2VersionService.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBindings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiInfo.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiReference.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityRequirement.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSecurityScheme.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterAnyExtensions.cs
  src/LEGO.AsyncAPI/Writers/WriterConstants.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentBuilder.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentTests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
Labels: asyncapi.readers, asyncapi.models, asyncapi.tests

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*
