Repository LEGO/AsyncAPI.NET, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci/cd, asyncapi.readers, asyncapi.models, asyncapi.tests

Update pr-title-lint.yml
  .github/workflows/pr-title-lint.yml
Labels: ci/cd

Create package.json
  .github/package.json
Labels: ci/cd

Update package.json
  .github/package.json
Labels: ci/cd

Delete package.json
  .github/package.json
Labels: ci/cd

Create release.config.js
  release.config.js
Labels: none

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

ci: enable semantic-release for the Nuget Package (#62)
  .github/workflows/release-package.yml
  release.config.js
Labels: ci/cd

Update release.config.js
  release.config.js
Labels: none

Update release.config.js
  release.config.js
Labels: none

Update release.config.js
  release.config.js
Labels: none

Update release.config.js
  release.config.js
Labels: none

Update release.config.js
  release.config.js
Labels: none

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

Update release.config.js
  release.config.js
Labels: none

Update README.md
  README.md
Labels: documentation

feat: release-test (#63)
  README.md
Labels: documentation

ci: update release to not include changelog
  release.config.js
Labels: none

Notes added by 'git notes add'
  f28b137eb695c9dd15da75253ceaded600921c27
Labels: none

ci: reintroduce CHANGELOG.md
  release.config.js
Labels: none

ci: introduce changelog
  .github/workflows/release-package.yml
Labels: ci/cd

ci: introduce changelog (#64)
  .github/workflows/release-package.yml
Labels: ci/cd

Notes added by 'git notes add'
  2a179e76479582bd13629a3e25f3be7ee811a707
Labels: none

ci: add base and commit message to release
  .github/workflows/release-package.yml
Labels: ci/cd

Notes added by 'git notes add'
  3c64a00f2e86be1cafb15bd865dcf274d6455c23
Labels: none

chore: update Changelog
  CHANGELOG.md
Labels: documentation

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

Update release.config.js
  release.config.js
Labels: none

ci: Add conventionalcommits preset
  release.config.js
Labels: none

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

Update release-package.yml
  .github/workflows/release-package.yml
Labels: ci/cd

Notes added by 'git notes add'
  f7145afef4e525af11bff4f56e2e3b6a91ee2e1f
Labels: none

fix: presets not needed. Angular convention is fine
  release.config.js
Labels: none

Notes added by 'git notes add'
  f17a4ff32bd358ee88b424925ee441e4b6f0bc11
Labels: none

[create-pull-request] automated change
  CHANGELOG.md
Labels: documentation

banner and marker
  README.md
  docs/README.md
  docs/lego-async-mark.drawio.png
  docs/lego-asyncapi.drawio.png
Labels: documentation

[create-pull-request] automated change
  CHANGELOG.md
Labels: documentation

ci: enable semantic-release for the Nuget Package (#62)
  .github/workflows/release-package.yml
  README.md
  release.config.js
Labels: documentation, ci/cd

Create do_not_merge.yml
  .github/workflows/do_not_merge.yml
Labels: ci/cd

syntax fixes on markdown
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
- '**/*.md'
ci/cd:
- .github/**/*
asyncapi.readers:
- src/LEGO.AsyncAPI.Readers/**/*
asyncapi.models:
- src/LEGO.AsyncAPI/**/*
asyncapi.tests:
- test/**/*
