Repository LEGO/AsyncAPI.NET, pull requests merged in 2023-02, with the labels that each got.

#90 docs: fixed contribution markdown file
  .github/workflows/first-interaction.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, ci/cd

#91 docs: add a few issue templates and a PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: ci/cd

#92 docs: add code of conduct
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
Labels: documentation, ci/cd

#94 fix: payload schema reference resolution
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBindings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiChannel.cs
  src/LEGO.AsyncAPI/Models/AsyncApiComponents.cs
  src/LEGO.AsyncAPI/Models/AsyncApiCorrelationId.cs
  src/LEGO.AsyncAPI/Models/AsyncApiDocument.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessage.cs
  src/LEGO.AsyncAPI/Models/AsyncApiMessageTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiOperationTrait.cs
  src/LEGO.AsyncAPI/Models/AsyncApiParameter.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSchema.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServer.cs
  src/LEGO.AsyncAPI/Models/AsyncApiServerVariable.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Http/HttpOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Kafka/KafkaServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarChannelBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/Pulsar/PulsarServerBinding.cs
  src/LEGO.AsyncAPI/Models/Bindings/WebSockets/WebSocketsChannelBinding.cs
  src/LEGO.AsyncAPI/Services/AsyncApiReferenceResolver.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.models, asyncapi.readers, asyncapi.tests

#95 chore: add readme to the asyncapi package
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.models, asyncapi.readers

#97 refactor: move to YamlDotnet
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiYamlDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/Bindings/AsyncApiWebSocketsBindingsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/Exceptions/AsyncApiReaderException.cs
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI.Readers/ParseNodes/JsonPointerExtensions.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ListNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/MapNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ParseNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/PropertyNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/RootNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiComponentsDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageBindingDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiMessageDeserializer.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaValidator.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiV2VersionService.cs
  src/LEGO.AsyncAPI.Readers/YamlHelper.cs
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/Models/Interfaces/IMessageBinding.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IOperationBinding.cs
  src/LEGO.AsyncAPI/Models/Interfaces/IServerBinding.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterAnyExtensions.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
  src/LEGO.AsyncAPI/schema-v2.3.0.json
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiLicenseTests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
Labels: asyncapi.models, asyncapi.readers, asyncapi.tests
