Repository LEGO/AsyncAPI.NET, pull requests merged in 2024-03, with the labels that each got.

#150 feat: targetframework to netstandard2.0
  AsyncAPI.sln
  Common.Build.props
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Bindings/LEGO.AsyncAPI.Bindings.csproj
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
Labels: asyncapi.models, asyncapi.readers, asyncapi.tests, asyncapi.bindings

#153 feat(bindings): add amqp bindings
  src/LEGO.AsyncAPI.Bindings/AMQP/AMQPChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/AMQP/AMQPMessageBinding.cs
  src/LEGO.AsyncAPI.Bindings/AMQP/AMQPOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/AMQP/ChannelType.cs
  src/LEGO.AsyncAPI.Bindings/AMQP/DeliveryMode.cs
  src/LEGO.AsyncAPI.Bindings/AMQP/Exchange.cs
  src/LEGO.AsyncAPI.Bindings/AMQP/ExchangeType.cs
  src/LEGO.AsyncAPI.Bindings/AMQP/Queue.cs
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/TopicConfigurationObject.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ParseNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  test/LEGO.AsyncAPI.Tests/Bindings/AMQP/AMQPBindings_Should.cs
Labels: asyncapi.readers, asyncapi.tests, asyncapi.bindings

#154 feat(bindings): add mqtt bindings
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Bindings/MQTT/LastWill.cs
  src/LEGO.AsyncAPI.Bindings/MQTT/MQTTMessageBinding.cs
  src/LEGO.AsyncAPI.Bindings/MQTT/MQTTOperationBinding.cs
  src/LEGO.AsyncAPI.Bindings/MQTT/MQTTServerBinding.cs
  test/LEGO.AsyncAPI.Tests/MQTT/MQTTBindings_Should.cs
Labels: asyncapi.tests, asyncapi.bindings

#156 chore: add TryGetValue extensions for bindings
  src/LEGO.AsyncAPI.Bindings/Kafka/KafkaChannelBinding.cs
  src/LEGO.AsyncAPI.Bindings/Kafka/TopicConfigurationObject.cs
  src/LEGO.AsyncAPI/Models/AsyncApiBindings.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Kafka/KafkaBindings_Should.cs
Labels: asyncapi.models, asyncapi.tests, asyncapi.bindings

#155 refactor: remove unused expressions
  src/LEGO.AsyncAPI/Expressions/BodyExpression.cs
  src/LEGO.AsyncAPI/Expressions/CompositeExpression.cs
  src/LEGO.AsyncAPI/Expressions/HeaderExpression.cs
  src/LEGO.AsyncAPI/Expressions/MethodExpression.cs
  src/LEGO.AsyncAPI/Expressions/PathExpression.cs
  src/LEGO.AsyncAPI/Expressions/QueryExpression.cs
  src/LEGO.AsyncAPI/Expressions/RequestExpression.cs
  src/LEGO.AsyncAPI/Expressions/ResponseExpression.cs
  src/LEGO.AsyncAPI/Expressions/RuntimeExpressions.cs
  src/LEGO.AsyncAPI/Expressions/SourceExpression.cs
  src/LEGO.AsyncAPI/Expressions/StatusCodeExpression.cs
  src/LEGO.AsyncAPI/Expressions/UrlExpression.cs
  src/LEGO.AsyncAPI/Models/RuntimeExpressionAnyWrapper.cs
Labels: asyncapi.models

#158 test: remove stylecop from tests
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
Labels: asyncapi.tests

#163 chore: add net 6 as TFM to make STJ conditional
  Common.Build.props
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
Labels: asyncapi.models

#152 feat: add cultureinfo to reader/writer settings.
  src/LEGO.AsyncAPI.Readers/AsyncApiJsonDocumentReader.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiTextReader.cs
  src/LEGO.AsyncAPI.Readers/Exceptions/AsyncApiUnsupportedSpecVersionException.cs
  src/LEGO.AsyncAPI.Readers/JsonHelper.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/MapNode.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/ValueNode.cs
  src/LEGO.AsyncAPI.Readers/ParsingContext.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiSchemaDeserializer.cs
  src/LEGO.AsyncAPI.Readers/YamlConverter.cs
  src/LEGO.AsyncAPI/AsyncApiSettings.cs
  src/LEGO.AsyncAPI/Models/AsyncApiSerializableExtensions.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterBase.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiWriterSettings.cs
  src/LEGO.AsyncAPI/Writers/AsyncApiYamlWriter.cs
  src/LEGO.AsyncAPI/Writers/SpecialCharacterStringExtensions.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiLicenseTests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/AMQP/AMQPBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/CustomBinding_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Http/HttpBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Kafka/KafkaBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/StringOrStringList_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/WebSockets/WebSocketBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/FluentAssertionExtensions.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/MQTT/MQTTBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiChannel_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiOperation_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiReference_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiServer_Should.cs
  test/LEGO.AsyncAPI.Tests/Serialization/AsyncApiYamlWriterTests.cs
  test/LEGO.AsyncAPI.Tests/StringExtensions.cs
  test/LEGO.AsyncAPI.Tests/TestBase.cs
  test/LEGO.AsyncAPI.Tests/TestData/AsyncApiSchema_InlinedReferences.yml
  test/LEGO.AsyncAPI.Tests/TestData/AsyncApiSchema_NoInlinedReferences.yml
  test/LEGO.AsyncAPI.Tests/TestData/Deserialize_WithAdvancedSchema_Works.json
  test/LEGO.AsyncAPI.Tests/TestData/SerializeAsJson_WithAdvancedSchemaObject_V2Works.json
  test/LEGO.AsyncAPI.Tests/TestData/SerializeAsJson_WithAdvancedSchemaWithAllOf_V2Works.json
Labels: asyncapi.models, asyncapi.readers, asyncapi.tests

#164 test: use raw strings
  .github/workflows/ci.yml
  test/LEGO.AsyncAPI.Tests/AsyncApiDocumentV2Tests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiLicenseTests.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Bindings/AMQP/AMQPBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/CustomBinding_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Http/HttpBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Kafka/KafkaBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Pulsar/PulsarBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sns/SnsBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/Sqs/SqsBindings_should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/StringOrStringList_Should.cs
  test/LEGO.AsyncAPI.Tests/Bindings/WebSockets/WebSocketBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/LEGO.AsyncAPI.Tests.csproj
  test/LEGO.AsyncAPI.Tests/MQTT/MQTTBindings_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiChannel_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiMessage_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiOperation_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiReference_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiSchema_Should.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiServer_Should.cs
Labels: ci/cd, asyncapi.tests
