Repository LEGO/AsyncAPI.NET, pull requests merged in 2024-06, with the labels that each got.

#176 feat: unmapped member handling during deserialization
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
  src/LEGO.AsyncAPI.Readers/ParseNodes/PropertyNode.cs
  src/LEGO.AsyncAPI.Readers/UnmappedMemberHandling.cs
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiAvroSchemaDeserializer.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
Labels: asyncapi.readers, asyncapi.tests

#178 chore(bindings): change bindings to be ICollection
  src/LEGO.AsyncAPI.Bindings/BindingsCollection.cs
  src/LEGO.AsyncAPI.Readers/AsyncApiReaderSettings.cs
Labels: asyncapi.readers, asyncapi.bindings

#180 fix: resolving wrong reference
  src/LEGO.AsyncAPI/Services/AsyncApiReferenceResolver.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
Labels: asyncapi.models, asyncapi.tests

#181 chore: pull main into vnext
  .github/workflows/release-internal.yml
  CHANGELOG.md
  Common.Build.props
  LICENSE.txt
  README.md
  media/logo.png
  src/LEGO.AsyncAPI.Bindings/LEGO.AsyncAPI.Bindings.csproj
  src/LEGO.AsyncAPI.Readers/LEGO.AsyncAPI.Readers.csproj
  src/LEGO.AsyncAPI.Readers/V2/AsyncApiChannelDeserializer.cs
  src/LEGO.AsyncAPI/LEGO.AsyncAPI.csproj
  src/LEGO.AsyncAPI/Services/AsyncApiReferenceResolver.cs
  test/LEGO.AsyncAPI.Tests/AsyncApiReaderTests.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiChannel_Should.cs
Labels: documentation, ci/cd, asyncapi.models, asyncapi.readers, asyncapi.tests, asyncapi.bindings

#184 chore: correct documentation method name
  README.md
Labels: documentation

#186 fix: add missing avro payload resolution
  src/LEGO.AsyncAPI.Readers/AsyncApiExternalReferenceResolver.cs
  test/LEGO.AsyncAPI.Tests/Models/AsyncApiReference_Should.cs
Labels: asyncapi.readers, asyncapi.tests
